name: code-blocks-server CI/CD

on:
  push:
    branches:
      - main
    tags:
      - "code-blocks-server-v*.*.*"
  pull_request:
    branches:
      - main

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.0.1
        with:
          workspaces: "code-blocks-server"
      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: Build
        run: cd code-blocks-server && cargo build --verbose --all-features
      - name: Test
        run: cd code-blocks-server && cargo test --verbose --all-features -- --nocapture
      - name: Test ignored tests
        run: cd code-blocks-server && cargo test --verbose --all-features -- --nocapture --ignored

  build:
    name: Build release binaries
    if: startsWith(github.ref, 'refs/tags/code-blocks-server-v')
    needs: test
    strategy:
      fail-fast: true
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            rest-artifact: code-blocks-server/target/x86_64-unknown-linux-gnu/release/code-blocks-rest
            cli-artifact: code-blocks-server/target/x86_64-unknown-linux-gnu/release/code-blocks-cli
            os: ubuntu-latest
            include-ignored: --include-ignored
          # - target: aarch64-unknown-linux-gnu
          #   artifact: code-blocks-server/target/aarch64-unknown-linux-gnu/release/code-blocks-rest
          #   os: ubuntu-latest

          - target: x86_64-apple-darwin
            rest-artifact: code-blocks-server/target/x86_64-apple-darwin/release/code-blocks-rest
            cli-artifact: code-blocks-server/target/x86_64-apple-darwin/release/code-blocks-cli
            os: macos-latest
            include-ignored: --include-ignored
          - target: aarch64-apple-darwin
            rest-artifact: code-blocks-server/target/aarch64-apple-darwin/release/code-blocks-rest
            cli-artifact: code-blocks-server/target/aarch64-apple-darwin/release/code-blocks-cli
            os: macos-latest
            include-ignored: "" # testing dynamic parsers won't work when cross-compiling

          - target: x86_64-pc-windows-msvc
            rest-artifact: code-blocks-server\target\x86_64-pc-windows-msvc\release\code-blocks-rest.exe
            cli-artifact: code-blocks-server\target\x86_64-pc-windows-msvc\release\code-blocks-cli.exe
            os: windows-latest
            include-ignored: --include-ignored
          # - target: aarch64-pc-windows-msv
          #   artifact: code-blocks-server\target\aarch64-pc-windows-msvc\release\code-blocks-rest.exe
          #   os: windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2.0.1
        with:
          prefix-key: "${{ matrix.target }}"
      - name: Setup rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          components: rust-std
      # - name: Setup build tools
      #   if: startsWith(${{ matrix.os }}, 'ubuntu')
      #   uses: awalsh128/cache-apt-pkgs-action@latest
      #   with:
      #     packages: gcc-aarch64-linux-gnu
      #     version: ${{ matrix.target }}
      - name: Build release binary
        run: cd code-blocks-server && cargo build --release --target ${{ matrix.target }} --all-features
      - name: Test release binary
        run: cd code-blocks-server && cargo test --release --target ${{ matrix.target }} --all-features --verbose -- --nocapture ${{ matrix.include-ignored }}
      - name: Upload release binary
        uses: actions/upload-artifact@v3
        with:
          name: ${{ github.ref_name }}-${{ matrix.target }}-binary
          path: |
            ${{ matrix.rest-artifact }}
            ${{ matrix.cli-artifact }}

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/code-blocks-server-v')
    steps:
      - name: Download Linux artifact x86_64
        uses: actions/download-artifact@v3
        with:
          name: ${{ github.ref_name }}-x86_64-unknown-linux-gnu-binary
          path: x86_64-unknown-linux-gnu
      # - name: Download Linux artifact aarch64
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: ${{ github.ref_name }}-aarch64-unknown-linux-gnu-binary
      #     path: aarch64-unknown-linux-gnu

      - name: Download Mac artifact aarch64
        uses: actions/download-artifact@v3
        with:
          name: ${{ github.ref_name }}-aarch64-apple-darwin-binary
          path: aarch64-apple-darwin
      - name: Download Mac artifact x86_64
        uses: actions/download-artifact@v3
        with:
          name: ${{ github.ref_name }}-x86_64-apple-darwin-binary
          path: x86_64-apple-darwin

      - name: Download Windows artifact x86_64
        uses: actions/download-artifact@v3
        with:
          name: ${{ github.ref_name }}-x86_64-pc-windows-msvc-binary
          path: x86_64-pc-windows-msvc
      # - name: Download Windows artifact aarch64
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: ${{ github.ref_name }}-aarch64-pc-windows-msv-binary
      #     path: aarch64-pc-windows-msv

      - name: Rename artifacts
        run: |
          mkdir artifacts

          mv x86_64-unknown-linux-gnu/code-blocks-rest    artifacts/x86_64-unknown-linux-gnu-code-blocks-rest 
          # mv aarch64-unknown-linux-gnu/code-blocks-rest   artifacts/aarch64-unknown-linux-gnu-code-blocks-rest 
          mv x86_64-apple-darwin/code-blocks-rest         artifacts/x86_64-apple-darwin-code-blocks-rest 
          mv aarch64-apple-darwin/code-blocks-rest        artifacts/aarch64-apple-darwin-code-blocks-rest 
          mv x86_64-pc-windows-msvc/code-blocks-rest.exe  artifacts/x86_64-pc-windows-msvc-code-blocks-rest.exe 
          # mv aarch64-pc-windows-msv/code-blocks-rest.exe  artifacts/aarch64-pc-windows-msv-code-blocks-rest.exe 

          mv x86_64-unknown-linux-gnu/code-blocks-cli    artifacts/x86_64-unknown-linux-gnu-code-blocks-cli 
          # mv aarch64-unknown-linux-gnu/code-blocks-cli   artifacts/aarch64-unknown-linux-gnu-code-blocks-cli 
          mv x86_64-apple-darwin/code-blocks-cli         artifacts/x86_64-apple-darwin-code-blocks-cli 
          mv aarch64-apple-darwin/code-blocks-cli        artifacts/aarch64-apple-darwin-code-blocks-cli 
          mv x86_64-pc-windows-msvc/code-blocks-cli.exe  artifacts/x86_64-pc-windows-msvc-code-blocks-cli.exe 
          # mv aarch64-pc-windows-msv/code-blocks-cli.exe  artifacts/aarch64-pc-windows-msv-code-blocks-cli.exe 
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true
          files: artifacts/*