name: Pull request checks

on:
    pull_request:

env:
    TEST_TIMEOUT: 5m
    EXAMPLE_TIMEOUT: 5m
    BRANCH: ${{ startsWith(github.head_ref, '') && github.head_ref || github.ref_name  }}

jobs:
    test:
        timeout-minutes: 60
        strategy:
            fail-fast: false
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 16
            - name: Install extension dependencies
              run: yarn install
            - name: Run tests
              uses: coactions/setup-xvfb@v1
              with:
                  run: yarn test

    examples:
        name: Build examples
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 16
            - name: Install asset generation dependencies
              run: sudo apt install -y ffmpeg libnss3 xvfb
            - name: Install extension dependencies
              run: yarn install
            - name: Build extension
              run: yarn run compile
            - name: Setting global vscode settings
              run: cp -r ./out/examples/examples-editor/.vscode ~/.vscode
            - name: Generate assets
              run: |
                  chmod +x ./generate-assets.sh
                  chmod +x ./generate-example-asset.sh
                  ./generate-assets.sh ./out/examples .
            - name: Upload assets
              uses: actions/upload-artifact@v3
              with:
                  name: ${{ env.BRANCH }}-assets
                  path: |
                      *.gif
