name: vscode-extension CI/CD

on:
    push:
        branches:
            - main
            - "v*.*.*"
        tags:
            - "v*.*.*"
    pull_request:
        branches:
            - main
            - "v*.*.*"

permissions:
    contents: write

env:
    TEST_TIMEOUT: 5m

jobs:
    test:
        timeout-minutes: 60
        strategy:
            fail-fast: false
            matrix:
                os: [macos-latest, ubuntu-latest, windows-latest]
        runs-on: ${{ matrix.os }}
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 16
            - name: Install extension dependencies
              run: yarn run install:all
            - name: Build webview
              if: runner.os != 'macos'
              run: yarn run build:webview
            # TODO: fix this command getting stuck on macos
            - name: Build webview
              if: runner.os == 'macos'
              uses: nick-fields/retry@v2
              with:
                  timeout_minutes: 1
                  max_attempts: 5
                  command: yarn run build:webview
            - name: Run tests
              uses: coactions/setup-xvfb@v1
              with:
                  run: yarn test

    package:
        name: Package extension
        runs-on: ubuntu-latest
        needs: test
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Install Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 16
            - name: Install vsce
              run: npm i -g @vscode/vsce
            - name: Install extension dependencies
              run: yarn run install:all
            - name: Build webview
              run: yarn run build:webview
            - name: Build extension
              run: vsce package --yarn --baseImagesUrl https://raw.githubusercontent.com/selfint/code-blocks/${{ startsWith(github.head_ref, '') && github.head_ref || github.ref_name  }}
            - name: Upload extension
              uses: actions/upload-artifact@v3
              with:
                  name: $${code-blocks-${{ startsWith(github.head_ref, '') && github.head_ref || github.ref_name }}.vsix
                  path: |
                      code-blocks-*.vsix

    release:
        name: Release extension
        if: startsWith(github.ref, 'refs/tags/v')
        needs: test

        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Set Node.js 16.x
              uses: actions/setup-node@v3
              with:
                  node-version: 16.x
            - name: Install vsce
              run: npm i -g @vscode/vsce
            - name: Install extension dependencies
              run: yarn run install:all
            - name: Build webview
              run: yarn run build:webview
            - name: Build extension
              run: vsce package --yarn --baseImagesUrl https://raw.githubusercontent.com/selfint/code-blocks/${{ github.ref_name }}
            - name: Release
              uses: softprops/action-gh-release@v1
              with:
                  generate_release_notes: true
                  files: code-blocks-*.vsix
